body {
    width: 100vw;
    height: 100vh;

}


.Inicio {

    background-color: #385ce4;
    width: 100%;


} 

.Contener {
    margin-left: 27.5%;
    width: 45%;
    margin-top: 3em;
    background-color: rgba(232, 225, 204, 0.4);
    padding: 2em;
    border-radius: 3px;
}

.focalizar {
    margin-top: 1.5%;
    background-color: rgba(232, 225, 204, 0.8);
    padding: 1%;
    border-radius: 3px;
    width: 60%;
    margin-left: 20%;
}
html{
    overflow-x: hidden;
}
.TituloPregunas{
    text-align: center;
    font-size: 40px;
}
.logo {
    height: auto;
    width: 10vw; 
    margin-left: 45vw;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 4%;
      width: 100%;
    }
  }
.textoInicio{
    margin-left: 4%;
    line-height: 200%;
    
}
.Animacion{
    animation-duration: 4s;
    animation-name: slidein;
}


.navegador {
    margin-top: 0.5em;
}


.chart {
    width: 50%;
    margin-left: 25%;
}

