*{
    margin: 0;
}
html{
    overflow-x: hidden;
}
.Inicio{
    
        background-color: #385ce4;
        text-align: center;
        
        
       padding-bottom: 13.5em;
        width: 100%;
        margin: 0;
        right: 40px;
        float: left;
        
    
}
.Contener{
    width: 40%;
    margin-left: 26em;
    margin-top: 3em;
    background-color: rgba(232, 225, 204, 0.4);
    padding: 2em;
    border-radius: 3px;
}
.focalizar{
    background-color: rgba(232, 225, 204, 0.8);
    border-radius: 3px;
    width: 60%;
    margin-top: 2em;
   
    margin-left: 18em;
}

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 4%;
      width: 100%;
    }
  }
p{
    margin-left: 2em;
    
    margin-bottom: 1px; 
}
.Animacion{
    animation-duration: 3s;
    animation-name: slidein;
}
.logo{
    
    width: 40px;
    width:140px;
    position: absolute;
    left: 90px;
}
.logo2{
    
    width: 40px;
    width:140px;
    position: absolute;
    left: 1100px;
    margin-top: 2px;
}

.navegador{
    margin-top: 0.5em;
}
a{
    color: #fffcfc   ;
   margin-right: 2em;
   text-decoration: none;
}